.carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-top: 16px;
    margin-left: 10%;
  }
  @media (min-width: 700px) {
    .carousel {
      width: 500px;
    }
  }
  @media (min-width: 500px) {
    .carousel {
      width: 300px;
      margin-left: 15%;
    }
  }
  .carousel .left-button,
  .carousel .right-button {
    display: flex;
    justify-content: center;
    align-items: none;
    flex-direction: row;
    color: #fff;
    background-color: #333;
    font-size: 40px;
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .carousel .left-button:hover,
  .carousel .right-button:hover {
    color: #333;
    background-color: #fff;
    border: 2px solid #333;
  }
  .carousel .left-button {
    top: 50%;
    left: 25px;
    transform: translate(0, -50%);
  }
  .carousel .right-button {
    top: 50%;
    right: 25px;
    transform: translate(0, -50%);
  }
  .carousel .image {
    width: 100%;
    display: none;
  }
  
  .bg-dark .p-4{
margin: 10px;
align-content: center;
justify-content: center;
  }

  .navbar-toggler:hover{
color: antiquewhite;

  }

  /* .img-essential{
      max-width: 75%;
      height: auto;
      display: flex;
      align-items: center;
      align-content: center;
    margin-top: 80px;
    justify-content: space-around;
    
  } */
  
  .img-essential-about, .img-essential{
    max-width: 75%;
    height: auto;
    display: flex;
    align-items: center;
    align-content: center;
  margin-top: 80px;
  /* justify-content: space-around; */
  
}
.img-essential{
    margin-left: 8%;
}


  .img{
    
      width: auto;
      height: auto;
      border-radius: 10%;
    /* margin-left: 20px;
    margin-right: 5%;
    margin-bottom: 5%; */
    margin: 2%;
    justify-content: space-evenly;
    
  }
  .img-home{
    /* width: 40%; */
    width: 500px;
    height: 300px;
    border-radius: 10%;
    
  margin-left: 20px;

  
  }
.display{
    display:none;
}
  @media(max-width:500px){
    
    .img-home{
        display: none;
    }
   
    .display{
        width:400px;
        height: auto;
        border-radius: 10%;
        justify-items: center;
        margin-left: 30%;
    }
    .img-essential-about{
        display: inline-block;
    }
    .img{
        margin-bottom: 10%;
        margin-left: 40%;
    }
    .about-h1{

        margin-left: 30%;
    }
    /* .home-h1{
         margin-right: 10%;
     } */

    .content-home{
        width: 400px;

        /* margin-left: 30%; */
    }
    .copy{
        margin-left:0%;
        justify-items: center;
    }
}
  .content-home{
    border-radius: 10%;
    margin: 10%;
    
    /* justify-items: center;
    justify-content: center; */
    /* margin-right: 10%; */
    
    /* margin-left: 0%; */
    
  }
  hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    color: black;
  }

  .container{
max-width: 700px;

  }

  .content-about{
      margin: 10%;
      
      border-radius: 10%;

      
  }
  h1{
      margin-left: 30%;
  }
 .content-home .button-home{
 
    height: 80px;
    width: 200px;
    background-color:black;
    color:whitesmoke;
border-radius: 15%;
margin-left: 35%;
margin-top: 10%;
  }

  @media (min-width: 500px) {
    .content-home .button-home {
      
      margin-left: 15%;
    }
  }
  .button-home:hover{

background-color:white;
color: black;
border-radius: 10%;
border-radius: 15%;
  }

  .copy{
     margin: 20%;
  }